<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div >
        <table>
            <thead>
                <tr>
                    <th>Edad</th>
                    <th>Nombre</th>
                    <th>Fecha Nac</th>
                </tr>
            </thead>
            <tbody>
                {% for per in personas %}
                    <tr>
                        <td>{{per.edad}}</td>
                        <td>{{per.nombre}}</td>
                        <td>{{per.fechnac}}</td>  
                    </tr>											
                {% endfor %}
            </tbody>    
        </table>
    </div>